{% extends 'website/base.html' %}
{% load static %}
{% block main %}
    <div class="row row-space">
        <div class="col">
            <p>Mussum Ipsum, cacilds vidis litro abertis. 
                Mé faiz elementum girarzis, nisi eros vermeio. Leite de capivaris, 
                leite de mula manquis sem cabeça. 
                Copo furadis é disculpa de bebadis, arcu quam euismod magna. 
                A ordem dos tratores não altera o pão duris.

                Paisis, filhis, espiritis santis. Si u mundo tá muito paradis? 
                Toma um mé que o mundo vai girarzis! 
                Per aumento de cachacis, eu reclamis. 
                Diuretics paradis num copo é motivis de denguis.
                
                Delegadis gente finis, bibendum egestas augue arcu ut est. 
                Atirei o pau no gatis, per gatis num morreus. 
                Detraxit consequat et quo num tendi nada. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis.
                <br>
                elegadis gente finis, bibendum egestas augue arcu ut est. 
                Atirei o pau no gatis, per gatis num morreus. 
                Detraxit consequat et quo num tendi nada. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis.
                <br>
                Mussum Ipsum, cacilds vidis litro abertis. 
                Mé faiz elementum girarzis, nisi eros vermeio. Leite de capivaris, 
                leite de mula manquis sem cabeça. 
                Copo furadis é disculpa de bebadis, arcu quam euismod magna. 
                A ordem dos tratores não altera o pão duris.

                Paisis, filhis, espiritis santis. Si u mundo tá muito paradis? 
                Toma um mé que o mundo vai girarzis! 
                Per aumento de cachacis, eu reclamis. 
                Diuretics paradis num copo é motivis de denguis.
                
                Delegadis gente finis, bibendum egestas augue arcu ut est. 
                Atirei o pau no gatis, per gatis num morreus. 
                Detraxit consequat et quo num tendi nada. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis.
            </p>
        </div>
    </div>

    <div class="row row-space">
        <div class="col-8">
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. 
                Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. 
                Interagi no mé, cursus quis, vehicula ac nisi. 
                Quem num gosta di mim que vai caçá sua turmis!
                Paisis, filhis, espiritis santis. Si u mundo tá muito paradis? 
                Toma um mé que o mundo vai girarzis! 
                Per aumento de cachacis, eu reclamis. 
                Diuretics paradis num copo é motivis de denguis.
                
                Delegadis gente finis, bibendum egestas augue arcu ut est. 
                Atirei o pau no gatis, per gatis num morreus. 
                Detraxit consequat et quo num tendi nada. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis.
                <br>
                Mussum Ipsum, cacilds vidis litro abertis. 
                Mé faiz elementum girarzis, nisi eros vermeio. Leite de capivaris, 
                leite de mula manquis sem cabeça. 
                Copo furadis é disculpa de bebadis, arcu quam euismod magna. 
                A ordem dos tratores não altera o pão duris.

                Paisis, filhis, espiritis santis. Si u mundo tá muito paradis? 
                Toma um mé que o mundo vai girarzis! 
                Per aumento de cachacis, eu reclamis. 
                Diuretics paradis num copo é motivis de denguis.
                
                Delegadis gente finis, bibendum egestas augue arcu ut est. 
                Atirei o pau no gatis, per gatis num morreus. 
                Detraxit consequat et quo num tendi nada. 
                Interessantiss quisso pudia ce receita de bolis, 
                mais bolis eu num gostis.
            </p>
        </div>
    
        <div class="col-4">
                <img src="{% static 'img/car.jpg' %}" alt="Minha Imagem">
        </div>
    </div>

{% endblock %}